<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background: linear-gradient(90deg, rgba(252,255,195,1) 0%, rgba(255,88,0,1) 100%);"
>
  <div class="container-fluid">
    <img src="assets/download.png" alt="Logo" class="logo" />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav d-flex justify-content-between w-100" style="max-width: 900px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="aboutDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            About
          </a>
          <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
            <li><a class="dropdown-item" href="/director">Director</a></li>
            <li><a class="dropdown-item" href="/committee-members">Experts & Advisors</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">Projects</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/committee-members">Committee Members</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#">Mentors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact-us">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
