

<body class="about-page">

  <main class="main">

    <!-- Page Title -->
    <div class="page-title overview py-5">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">About AJF</h1>
      </div>
    </div><!-- End Page Title -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <!-- <p class="who-we-are">Who We Are</p> -->
            <h3>Unleashing Potential with Creative Strategy</h3>
            <p class="fst-italic">
                Welcome to the Abhay Jere Foundation, a non-profit organization dedicated to empowering communities, fostering innovation, and promoting sustainable growth. Our mission is to create lasting positive impact by supporting initiatives in all relevant social sectors like education, skilling, entrepreneurship, commerce & finance, healthcare, travel & tourism, research, technology, etc. We work towards building a future where everyone has the opportunity to thrive, regardless of their background or circumstances.
                This foundation is established in honor of Dr. Abhay Jere for furthering his commitment to transformative change at scale in our society. With a focus on making meaningful contributions, we collaborate with individuals, organizations, and communities to drive progress in areas that matter the most.                
            </p>
            <!-- <ul>
              <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Duis aute irure dolor in reprehenderit in voluptate velit.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</span></li>
            </ul> -->
          </div>

          <div class="col-lg-6 about-images" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">
              <div class="col-lg-6">
                <img src="assets/post-slide-3.jpg" class="img-fluid" alt="" style="height: 370px;">
              </div>
              <div class="col-lg-6">
                <div class="row gy-4">
                  <div class="col-lg-12">
                    <img src="assets/mh1.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col-lg-12">
                    <img src="assets/appac.jpg" class="img-fluid" alt="">
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- /About Section -->

   

    

  </main>

</body>

